# PORT=5000

# MONGO_URI=your_mongodb_connection_string

# EMAIL_USER=yourgmail@gmail.com
# EMAIL_PASS=your_16_digit_app_password

# JWT_SECRET=your_jwt_secret
# RESEND_API_KEY=re_your_resend_api_key_here
# PORT=5000

# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/EventOra

# EMAIL_USER=your_email@gmail.com
# EMAIL_PASS=your_app_password

# JWT_SECRET=your_jwt_secret_key

# MAILGUN_API_KEY=key-your_mailgun_api_key_here
# MAILGUN_DOMAIN=sandbox_domain_here.mailgun.org
PORT=5000

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/EventOra

JWT_SECRET=your_jwt_secret_key

# BREVO CONFIGURATION
BREVO_API_KEY=xkeysib-your_brevo_api_key_here